/* Contenedor principal del sidebar */
/*.bar-nav-container {
  background: #f3edf7;
  overflow: hidden;
  transition: width 0.3s ease;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
}*/

.bar-nav-container {
  position: fixed; /* se queda fija en la pantalla */
  bottom: 0; /* pegada abajo */
  left: 0; /* desde el borde izquierdo */
  width: 100%; /* ocupa todo el ancho */
  background: #f3edf7;
  align-items: center; /* centra verticalmente los items */
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.4); /* sombra hacia arriba */
  transition: height 0.3s ease;
  z-index: 100;
  height: 15%;
}

/* Sidebar */
.bar-nav {
  padding-top: 20px;
}

.bar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 100px; /* espacio entre elementos */
  align-items: center;
}

.bar-nav li {
  width: 400px;
  text-align: right;
  gap: 20px;
}

/* Enlaces del sidebar */
.bar-nav a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  text-align: right;
  padding: 12px 18px;
  border-radius: 10px;
  margin: 8px 10px;
  transition: all 0.3s ease;
  font-weight: 500;
}

/* Iconos */
.bar-nav i {
  font-size: 24px; /* o 32px */
}

/* Hover */
.bar-nav a:hover {
  background-color: #e8def8;
  color: #fff;
  transform: translateX(5px);
}

/* Activo */
.bar-nav a.active {
  background-color: #e8def8;
  font-weight: bold;
}

/* Transición para ocultar/mostrar texto */
.bar-nav span {
  transition: opacity 0.2s ease;
}

/* Animación suave */
.bar-nav a,
.toggle-btn {
  transition: all 0.3s ease;
}
