<div class="page-container">
  <section class="outer-rect">
    <h1 class="outer-title">Monitoreo</h1>
    <hr />

    <div class="inner-rect">
      <div class="nivel-card">
        Último nivel de gravedad: {{ nivelGravedad }}
      </div>
    </div>
    <div class="inner-rect">
      <div class="accion-card">
        <h2 class="inner-title">Acción remedial</h2>
        Último nivel de gravedad: {{ accionGravedad }}
      </div>
    </div>
    <div class="inner-rect">
      <div class="grafica-card">
        <h2 class="inner-title">Gráfica semanal</h2>
      </div>
    </div>
    <div class="inner-rect">
      <div class="avance-card">
        <h2 class="inner-title">Avance</h2>
      </div>
    </div>
  </section>
</div>
